<div class='navbar_wrapper'>
  <div class='container navbar_basic'>
    <div class="row">

      <div class="col-xs-6 col-sm-3 navbar_column">
        <%= render 'shared/logo' %>
      </div>

      <div class="col-xs-6 col-sm-3 navbar_column">
        <%= link_to(I18n.t(:all_courses), courses_path) %>
      </div>

      <div class="col-xs-6 col-sm-3 navbar_column">
        <%= link_to(I18n.t('about_us.title'), about_path) %>
      </div>

      <div class="col-xs-6 col-sm-3 navbar_column">
        <% if user_signed_in? %>
          <%= link_to('My Account', user_path(current_user)) %>
        <% else %>
          <%= link_to('Log In / Sign Up', new_user_session_path) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
