<h4> <%= t('about_us.another_learning_platform')%> </h4>
<p> <%= t('about_us.it_is_different')%> </p>
<p> <%= t('about_us.we_wanted_to_learn_too')%> </p>
<p> <%= t('about_us.we_went_through_every_mooc')%> </p>
<p> <%= t('about_us.and_it_hurt')%> </p>

<p> <%= t('about_us.we_struggled')%> </p>

<p> <%= t('about_us.why_is_it_so_hard.question')%> </p>
  <ul>
    <li> <%= t('about_us.why_is_it_so_hard.content_1')%> </li>
    <li> <%= t('about_us.why_is_it_so_hard.content_2')%> </li>
    <li> <%= t('about_us.why_is_it_so_hard.content_3')%> </li>
    <li> <%= t('about_us.why_is_it_so_hard.content_4')%> </li>
  </ul>

<p> <%= t('about_us.why_are_we_different.question')%> </p>
  <ul>
    <li> <%= t('about_us.why_are_we_different.content_1')%> </li>
    <li> <%= t('about_us.why_are_we_different.content_2')%> </li>
    <li> <%= t('about_us.why_are_we_different.content_3')%> </li>
    <li> <%= t('about_us.why_are_we_different.content_4')%> </li>
  </ul>

<p> <%= t('about_us.many_teachers_believe')%> </p>
<p> <%= t('about_us.we_believe')%> </p>
<p> <%= t('about_us.we_believe_2')%> </p>
<p> <%= t('about_us.if_you_believe')%> </p>

<p> <%= t('about_us.you_might_come_back')%> </p>
