<div class="container">
  <h2 class="course_title"> <%= @course.title_en %> </h2>
    <% @course.chapters.order(:position_in_course).each do |chapter| %>
    <h3><%= chapter.title_en %></h3>
    <p class='course_description'> <%= chapter.description_en %> </p>

    <h5> <b> All Lessons </b> </h5>

    <ol>
      <% chapter.lessons.order(:position_in_chapter).each do |lesson| %>
        <% if current_user.can_access_lesson?(lesson) %>
          <li>
            <%= link_to(lesson.title_en, course_chapter_lesson_path(
              course_id: lesson.chapter.course_id,
              chapter_id: lesson.chapter_id,
              id: lesson.id)
            ) %>
          </li>
        <% else %>
          <li> <%= lesson.title_en %> </li>
        <% end %>
      <% end %>
    </ol>
  <% end %>

  <br><br><br>
  <%= render partial: 'one_man_army' %>
</div>
