<p>
  Unit Exercise N°<%= @exercise.position_in_unit %>
</p>

<p>
  <%= @exercise.question %>
</p>

<%= simple_form_for [:course, :chapter, :unit, @exercise, @attempt] do |f| %>
  <%= f.input :attempted_answer %>
  <%= f.button :submit %>
<% end %>
