<p>
  Lesson Exercise N°<%= @exercise.position_in_lesson %>
</p>

<p>
  <%= @exercise.question_en %>
</p>

<%= simple_form_for [:course, :chapter, :lesson, @exercise, @attempt] do |f| %>
  <% if [:false, :true].include?(@exercise.answer.to_sym) %>
    <%= f.input :attempted_answer,
      as: :radio_buttons,
      collection: [:true, :false]
    %>
  <% else %>
    <%= f.input :attempted_answer %>
  <% end %>

  <%= f.input :exercise_id, as: :hidden, input_html: { value: @exercise.id } %>
  <%= f.button :submit %>
<% end %>
